* {
  /* border-top: 10px solid #1098ad ; */
  /* the universal selector */
  margin:0;
  padding:0;
} 

/* page section */
body {
  color: #444;
  font-family: sans-serif;

  border-top: 10px solid #1098ad;
  /*border-top won't be inherited to every child */
  position: relative;
}
/* the inheritance has the lowest priority, easy to be overrided*/

.container {
  width: 700px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  /* padding:20px;
  padding-left:40px;
  padding-right:40px; */
  padding:20px 40px;
  margin-bottom: 60px;
  /* height: 60px; */
}

nav {
  font-size: 10px;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 0;
  width: 500 px;
}

/* smaller elements */
h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5; /*1.5 times font size */
  margin-bottom: 15px;
}

ul,
ol{
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  /* by default, it is 16 pixels. */
  margin-bottom:10px;
  /* display: inline; */
  /*change block elements to inline elements */
}

li:last-child{
  margin-bottom:0;
}

/* footer p {
  font-size: 16px;
} 
click and hit command + slash to comment out */

/*article header p {
  font-style: italic;
}
*/

#author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.non-bullet_list {
  list-style: none;
}


/* .first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* li:nth-child(odd) {
  color: red;
} */

/* article p:first-child {
  color: red;
} 
This does not work because the <p> is not the first child of the article*/

article p:last-child {
  color: red;
}

/* Styling links */
a:link {
  color: #1098ad;
  text-decoration: none; /*get rid of the underlines */
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline dotted orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

.post-image{
  width: 50%;
  height: auto;
  /* images are inline-block elements */
}

nav a:link {
  /* background-color: orangered;
  margin: 20px;
  padding: 20px;

  display: block;  //change inline boxes to block boxes */

  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
} 

nav a:link:last-child {
  margin-right: 0;
}

button{
  font-size: 22px;
  padding: 20px;
  cursor: pointer;

  position: absolute;
  /* top: 50px;
  bottom:50px; */
  bottom: 50px;
  right: 50px;

}

/* pseudo-classes are written with :, pseudo-elements are written with :: */
h1::first-letter{
  font-style: normal;
  margin-right: 5px;
}

/* + is the adjacent sibling selector */
/* h3 + p::fist-line {
  color: red;
} */

h2 {
  /* background-color: orange; */
  position: relative;
}

h2::after{
  content: "TOP";
  background-color: #ffe70c;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  display:inline-block;
  padding: 5px 10px;   /*5px to the top and 10 px to the sides */
  position: absolute;
  top: -15px;
  left: -25px;
}

/* resolving conflicts */
#copyright {
  /*1st priority*/
  color: red;
}

.copyright {
  /*2nd priority*/
  color: blue;
}

.text {
  /*2nd priority, but this one will apply because it is the last in the 2nd priority*/
  color: yellow;
}

footer p {
  /*3rd priority*/
  color: green;
}

/* footer p {
  color: green !important;
} 
!important has highest priority
*/
