/* * {
  border-top: 10px solid #1098ad ;
  the universal selector
} */

body {
  color: #444;
  font-family: sans-serif;

  border-top: 10px solid #1098ad;
  /*border-top won't be inherited to every child */
}
/* the inheritance has the lowest priority, easy to be overrided*/

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5; /*1.5 times font size */
}

li {
  font-size: 20px;
  /* by default, it is 16 pixels. */
}

/* footer p {
  font-size: 16px;
} 
click and hit command + slash to comment out */

/*article header p {
  font-style: italic;
}
*/

#author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.non-bullet_list {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

/* .first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* li:nth-child(odd) {
  color: red;
} */

/* article p:first-child {
  color: red;
} 
This does not work because the <p> is not the first child of the article*/

article p:last-child {
  color: red;
}

/* Styling links */
a:link {
  color: #1098ad;
  text-decoration: none; /*get rid of the underlines */
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline dotted orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* resolving conflicts */
#copyright {
  /*1st priority*/
  color: red;
}

.copyright {
  /*2nd priority*/
  color: blue;
}

.text {
  /*2nd priority, but this one will apply because it is the last in the 2nd priority*/
  color: yellow;
}

footer p {
  /*3rd priority*/
  color: green;
}

/* footer p {
  color: green !important;
} 
!important has highest priority
*/
